<footer class="event_footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3 copyright">
        <p class="text-center text-md-left">© {{currentYear}} Copyright - Qld Cricketers' Club</p>
      </div>

      <div class="col-md-9">
        <div class="text-right text-md-right footer-events">
          <ul class="list-unstyled list-inline footer_alignment">
            <li class="list-inline-item">
              <a routerLink="/">Events</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/">Buy AFL Tickets</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/">Buy Cricket Tickets</a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.qcclub.com.au/privacy-policy">
                Privacy Policy
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.qcclub.com.au/terms-and-conditions">
                Terms & Conditions
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.qcclub.com.au/refund-policy">
                Refund Policy
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.qcclub.com.au/sitemap">
                Sitemap
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>