<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <form class="login100-form" [formGroup]="forgetPasswordForm" (ngSubmit)="resetPassword(forgetPasswordForm)">
                <span class="login100-form-logo">
                    <img src="../../../assets/SVG/Dummy-Logo12.svg" routerLink="/">
                </span>
                <h5 id="title" class="title">Forgot Password?</h5>

                <div class="email"  *ngIf="!showMsg">
                    <p> Enter the Email Id associated with your account</p>
                </div>
                <div class="row" *ngIf="!isReciprocalUser && showMsg">
                    <div class="col-xs-12">
                        <p class="alert alert-success">We have sent a reset password link to your email account.</p>
                    </div>
                </div>
                <div class="row" *ngIf="isReciprocalUser && showMsg">
                    <div class="col-12">
                        <p class="alert alert-success text-center">To Reset your password
                            <a class="text-primary" target="_blank" href="https://portalpreview.micropower.com.au/Account/RequestPasswordReset?returnUrl=%2Fqcc">
                           click here
                        </a> </p>
                    </div>
                </div>

                <div *ngIf="!showMsg" class="wrap-input100">
                    <input class="input100" type="text" placeholder="Email*" class="form-control"
                        formControlName="username" name="username" [(ngModel)]=" forgetPasswordForm.username">
                    <!-- <div *ngIf="emailIdNotExist" class="alert alert-danger exist" style="color:#EE5333; margin-top: 34px;">
                        Email Id not exist.
                       </div>      -->
                    <!-- <div *ngIf="loginForm.controls['username'].invalid && 
                    (loginForm.controls['username'].dirty || loginForm.controls['username'].touched  && loginForm.controls['username'].errors.required )" class="col-sm-12 col-md-12 col-lg-12"style="padding: 2px;">
                      <div class="alert alert-danger list-inline-item" *ngIf="loginForm.controls['username'].errors.required">
                        Email Required
                      </div>
                      <p *ngIf="loginForm.controls.username.touched && loginForm.controls.username.hasError('pattern')" style="color:#EE5333">Email should be the real one!</p>

                      </div> -->

                </div>

                <div class="row">
                </div>
                <div *ngIf="!showMsg" class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit" [disabled]="!forgetPasswordForm.valid">
                        Submit
                    </button>
                </div>

                <div class="memauth">
                    <a class="text-link" routerLink="../login">Log In</a>
                </div>


            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>