<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
                
            <form class="login100-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
                <span class="login100-form-logo">
                    <img src="../../../assets/SVG/Dummy-Logo12.svg" routerLink="/">	
                </span>

    
                <div class="wrap-input100">
                    <input class="input100" type="password" placeholder="New Password*" class="form-control"  formControlName="password" name="password"  [(ngModel)]=" changePasswordForm.password">
                </div>
        
    
                <div class="wrap-input100">
                    <input class="input100" type="password" formControlName="confirmPassword" placeholder="Confirm Password*" class="form-control"  name="confirmPassword"  [(ngModel)]="changePasswordForm.confirmPassword">
                </div>
        
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn"  type="submit" [disabled]="!changePasswordForm.valid">
                        Reset Password
                    </button>
                </div>
                
                <div class="memauth">
                        <a class="text-link" routerLink="../login">Log In</a>
                    </div>
    

                
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>