<QCC-header></QCC-header>
<div class="container-fluid container-login100 d-flex flex-wrap confirmation">
    <div class="col-md-7 col-sm-12 wrap-login100 mb-4 d-block">
        <div class="col-12">
            <img class="confirm" src="../../assets/SVG/Confirmation.svg">
        </div>
        <div class="col-12 text-center heading mt-2 mb-2">
            Your ticket purchase was unsuccessful due to some internal server Error.
        </div>
        <!-- <div class="col-12 text-center sub-heading mt-2 mb-2">
            Thank you for your purchase via
                PayPal
            An automated email with the payment details will be sent to your registered email shortly.
            Please review the details carefully and contact us if you have any questions.
        </div> -->
    </div>
</div>
<qcc-footer></qcc-footer>